{% extends 'base.html' %}}

{% block head %}
{% endblock %}

{% block body %}

<div id="Main-Container-newStudent">

		<div id="main-Header" style="text-align:center;">
		<h1>New Student Enrollment</h1>
		</div>

		<div id="form-container">
            <form action="/new_student" method="POST">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name='studentName' id="studentName" placeholder="Name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name='className' placeholder="Class">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Leader">
                        <label class="form-check-label" for="Leader">
                        Make Student Class Leader
                        </label>
                    </div>

			    </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            </form>

		</div>

</div>
{% endblock %}